{% extends is_mobile() ? is_tablet() ? "smartBoard.html.twig" : "mobile.html.twig" : "layout.html.twig" %}

{% block head %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('assets/css/map-component.css') }}" />
{% endblock %}
 
{% block body %}

 

<!--<iframe id="map" src="https://map.cityreport.org:9443#328a7c1c8e12efc1c49a9496c6d65f7f8119465d" name="map">You need a Frames Capable browser to view this content.</iframe>   

 	<style>
	#map {
		height: 400px;
	    margin-bottom: auto;
	    margin-left: 0;
	    margin-right: 0;
	    width: 960px;
	}
</style>-->



<script type="module" src="{{ asset('bundles/map/dist/map.min.js') }}"></script>

<map-component style="height:450px" id="map-component" poweredby="google" api-key="AIzaSyB8HLaCfQOr5UOuDm_p6HotKa0Y8bWaO3Y" location='"latitude":46.220634,"longitude":6.147364'>

<map-dom-overlay >

	<!--<span latitude="46.220634" longitude="6.147364" >Text inside</span>
	<icon-air-quality-cluster fill="red" stroke="black" tickvisible="false" alerts="test" latitude="46.220632" longitude="6.147362" ></icon-air-quality-cluster>
	<img src="{{ asset('assets/images/site/iot6.png') }}"  latitude="46.220634" longitude="6.147364"  />-->
	<span latitude="46.194442" longitude="6.147831" >
		<icon-bus-sign style="width:70px" class="demo" stopname="15" ></icon-bus-sign>
	</span>
	<span latitude="46.184553" longitude="6.070588" >
		<icon-bus-sign style="width:70px" class="demo" stopname="9" ></icon-bus-sign>	
	</span>




	{% for device in devices %}


		{% if device.category == null %}
		
		{% elseif device.category.internalName ==  "Temperature" %}
			{% for variable in device.variables %}
					{% if variable.name !=  "temperature"  %}
        			{% elseif variable.name ==  "temperature" %}
						<span latitude="{{device.latitude}}" longitude="{{device.longitude}}" >{{variable.stringValue}}C
							<icon-thermometer class="demo" percent="{{variable.stringValue}}" fill="#ceae9a"></icon-thermometer>
						</span>					
					{% endif %}
    			{% endfor %}		
			
		{% elseif device.category.internalName ==  "Sensors" %}

			{% if device.description ==  "Carouge smart parking" %}
				{% for variable in device.variables %}
					{% if variable.name !=  "parking_slot"  %}
        			{% elseif variable.name ==  "parking_slot" %}
						<span latitude="{{device.latitude}}" longitude="{{device.longitude}}"  >
							<icon-park-with-text style="width:70px" class="demo" messagecolor="#e8fbae" message="{{variable.stringValue}} free slot" ></icon-park-with-text>
						</span>
					{% endif %}
    			{% endfor %}
				
			{% endif %}

			{% if device.description ==  "Frontenex smart parking" %}
				{% for variable in device.variables %}
					{% if variable.name !=  "parking_slot"  %}
        			{% elseif variable.name ==  "parking_slot" %}
						<span latitude="{{device.latitude}}" longitude="{{device.longitude}}"  >
							<icon-park-with-counter style="width:70px"  class="demo" color="#4e6a67" free="{{variable.stringValue}}" totalslots="500" ></icon-park-with-counter>
						</span>
					{% endif %}
    			{% endfor %}
			{% endif %}

			{% if device.description ==  "OrbiWise noise sensor" %}
				{% for variable in device.variables %}
					{% if variable.name !=  "soundLevelAverage"  %}
        			{% elseif variable.name ==  "soundLevelAverage" %}
						<span latitude="{{device.latitude}}" longitude="{{device.longitude}}"  >
							<icon-custom-noise-icon-with-height style="width:70px" class="demo" rodelength="0" fill="#f02e85" stroke="#851248" rodtext="average" text="{{variable.stringValue}}" strength="{{variable.stringValue}}" ></icon-custom-noise-icon-with-height>						</span>	
					{% endif %}
    			{% endfor %}			
			{% endif %}

			{% if device.description ==  "Humidity" %}
				{% for variable in device.variables %}
					{% if variable.name !=  "humidity"  %}
        			{% elseif variable.name ==  "humidity" %}
						<span latitude="{{device.latitude}}" longitude="{{device.longitude}}"  >
							<icon-humidity style="width:70px" class="demo" fill="#1e3adf" stroke="#5f5fb7" percentage="{{variable.stringValue}}"></icon-humidity>
						</span>	
					{% endif %}
    			{% endfor %}
			{% endif %}
			
			{% if device.description ==  "Car counter" %}
				{% for variable in device.variables %}
					{% if variable.name !=  "car_minute"  %}
        			{% elseif variable.name ==  "car_minute" %}
						<span latitude="{{device.latitude}}" longitude="{{device.longitude}}"  >
							<icon-traffic-flow style="width:70px" class="demo" fill="#b95858" stroke="#c84126" carcount="{{variable.stringValue}}" qm_display="false" ></icon-traffic-flow>
						</span>				
					{% endif %}
    			{% endfor %}
				
			{% endif %}


		{% endif %}

		
		

	{% endfor %}

</map-dom-overlay>


</map-component>



<div id="zebraTableDiv">
		<table id="table" style="width:100%;">
			<tr>
				<th>Id</th>
				<th>{{ 'Name' }}</th>
				<th>{{ 'Physical code' }}</th>
				<th>{{ 'Description' }}</th>
				<th>{{ 'Latitude' }}</th>
				<th>{{ 'Longitude' }}</th>
			</tr>

			{% for device in devices %}
				<tr>
				<td>{{ device.id }}</td>
					
					
					<td>{{ device.assignedName }}</td>
					<td>{{ device.physicalCode }}</td>
					<td>{{ device.description }}</td>
					<td>{{ device.latitude }}</td>
					<td>{{ device.longitude }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
	









 
{% endblock %}