{% extends 'security/layout.html.twig' %}

{% block title %}Reset password!{% endblock %}

{% block body %}

    <br/>
    <br/>
    <h1>Set your password</h1>
    <br/>
    <br/>



    <div class="blocLeft">
        <p>
            Write your email address and  you will receive an email with instructions
            about how to reset your password
        </p>
    </div>

    <div class="blocLeft">


        {{ form_start(form, {'attr': {'id': 'form'},'action': path('resetpassword') }) }}

        {{ form_errors(form) }}

        <table>
            <tr>
                <td>{{ form_label(form.email, 'Email') }}</td>
                <td>{{ form_widget(form.email) }}</td>
                <td>{{ form_errors(form.email) }}</td>
            </tr>

        </table>

        {{ form_rest(form) }}

        <br/>

        <input type="submit" value="{{ 'Send'|trans }}" />
        {{ form_end(form) }}

        <br/><br/>

    </div>


    </br>
    </br>
    </br>

    {% for message in app.flashes('success') %}
        <div style="color:green" class="alert alert-success">
            <h2>{{ message }}</h2>
        </div>
    {% endfor %}


{% endblock %}
