<table>

    <tr>
        {% if form.vars.help ?? false %}
            <div class="form--help">{{ form.vars.help }}</div>
        {% endif %}
        <td>{{ form_label(form.name, 'conf.name'|trans) }}</td>
        <td>{{ form_widget(form.name) }}</td>
        <td>{{ form_errors(form.name) }}</td>

    </tr>
    <tr>
        <td>{{ form_label(form.auth, 'AuthorisationURL') }}</td>
        <td>{{ form_widget(form.auth) }}</td>
        <td>{{ form_errors(form.auth) }}</td>
        <td>{{ form_help(form.auth) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.tenant, 'Tenant') }}</td>
        <td>{{ form_widget(form.tenant) }}</td>
        <td>{{ form_errors(form.tenant) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.username, 'Username') }}</td>
        <td>{{ form_widget(form.username) }}</td>
        <td>{{ form_errors(form.username) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.Password, 'Password') }}</td>
        <td>{{ form_widget(form.Password) }}</td>
        <td>{{ form_errors(form.Password) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.type, 'Type') }}</td>
        <td>{{ form_widget(form.type) }}</td>
        <td>{{ form_errors(form.type) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.keypair, 'KeyPair') }}</td>
        <td>{{ form_widget(form.keypair) }}</td>
        <td>{{ form_errors(form.keypair) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.securitygroup, 'SecurityGroups') }}</td>
        <td>{{ form_widget(form.securitygroup) }}</td>
        <td>{{ form_errors(form.securitygroup) }}</td>

        <td>  <a href="{{ path('vnosecuritygroup') }}" class="btn btn-link">
                <i class="fa fa-list-alt" aria-hidden="true"></i>
                <input type="button" value="{{ 'add SecurityGroups'|trans }}"/>
            </a>
        </td>
        <td>  <a class="btn btn-link securityremove">
                <i class="fa fa-list-alt" aria-hidden="true"></i>
                <input type="button" value="{{ 'remove SecurityGroups'|trans }}"/>
            </a>
        </td>

    </tr>
    <tr>
        <td>{{ form_label(form.locationname, 'LocationName') }}</td>
        <td>{{ form_widget(form.locationname) }}</td>
        <td>{{ form_errors(form.locationname) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.latitude, 'Latitude') }}</td>
        <td>{{ form_widget(form.latitude) }}</td>
        <td>{{ form_errors(form.latitude) }}</td>
    </tr>

    <tr>
        <td>{{ form_label(form.longitude, 'Longitude') }}</td>
        <td>{{ form_widget(form.longitude) }}</td>
        <td>{{ form_errors(form.longitude) }}</td>
    </tr>
</table>
