{% extends "config/layoutConfig.html.twig" %}
 
{% block title %}
	
{% endblock %}

{% block head %}
	
	
{% endblock %}

{% block body %}



	<div id="submenu">
		<a abc="/" class="selected" href="/">Services</a>

		 | 
	
	<a abc="/en/front/discussion/serviceSubscription" class="selected" href="/en/front/discussion/serviceSubscription">Discussion</a>
	
		 | 
		
	<a abc="/en/front/customer" href="/en/front/customer">Customer Support</a>
		

</div>
<br/>
<br/>
<br/>
<br/>

	
	<div class="leftColumn">
	
		<div class="blocLeft">
			<img class="legend" alt="{{ 'msg.interact'|trans }}" src="{{ asset('assets/images/front/camera.png') }}" />
			<a href="http://udg.cityreport.org" class="title indent"><strong> {{ 'IoT Control and Monitoring (UDGaaS)'|trans }}</strong></a>
			
		</div>
		
        
		<div class="blocLeft">
			<p>UDGaaS is provided together with high-quality and user-friendly </p>
			<p>visualization tools. As a basic feature, it supports about 50 IoT </p> 
			<p>protocols to be seamlessly integrated. It supports diverse application </p>
			<p> domains with standards data models and supports interoperability </p>
			<p>of multi-platforms. </p>
			<br/>
			<p>UDGaaS is focusing on high secure communication and  </p>
			<p>with GDPR and Swiss Privacy Law. strong privacy protection compliant </p>
			<p>Scalable and secure data management from UDGaaS  </p>
			<p>will ease your business and services.</p>
			<p>It should be highlighted that UDGaaS will provide distinguishable  </p>
			<p>services using 5G dynamic slicing mechanism enabled by UDG IoT server, </p>
			<p> one of the UDGaaS components, as soon as 5G networks are provided.</p>
		</div>
		<br/>
        <br/>
		<h2>Products</h2>
		<br/>
		<br/>
		<div class="blocLeft">
			<a href="https://dev.smartcity.market/udg-as-a-service-basic.html?category_id=28" class=""><strong> {{ 'UDGaaS Basic'|trans }}</strong></a>
		
			<a href="https://dev.smartcity.market/udgaas-pro.html" class=""><strong> {{ 'UDGaaS Pro'|trans }}</strong></a>
		</div>
		<br/>
        <br/>
        <br/>
        <br/>
        
		
		
		
	</div>

	<div class="blocRight">
        <img class="legend" width="200px" src="{{ asset('/assets/images/front/camera.png') }}" />
	</div>
	
	
	
	<div class="blocRight">
		
	</div>
	
{% endblock %}