<table>
    <tr>
        <td>{{ form_label(form.targetTempSensName, 'Temparature Sensor Name'|trans) }}</td>
        <td>{{ form_widget(
                form.targetTempSensName,
                (slice.targetTempSensName is null ? {'attr': {'value':'CoAP Sensor #4'} } : {}))
            }}</td>
        <td>
            <small>{{ form_help(form.targetTempSensName) }}</small>
        </td>
        <td>{{ form_errors(form.targetTempSensName) }}</td>
        <td class="popup" title="test"><img class="slice_input_suggestion" alt="{{ 'msg.interact'|trans }}"
                                            src="{{ asset('/assets/images/front/confirmation_.png') }}"/>
            <span class="popuptext">{{ form_help(form.targetTempSensName) }}</span>
        </td>

    </tr>
    <tr>
        <td>{{ form_label(form.targetTempSensURL, 'Temparature Sensor URL'|trans) }}</td>
        <td>{{ form_widget(
                form.targetTempSensURL,
                (slice.targetTempSensURL is null ? {'attr': {'value':'coap://[2001:41e0:6002:1800:0:0:0:4]:61616/temp'} } : {})
            ) }}</td>
        <td>
            <small>{{ form_help(form.targetTempSensURL, {'attr': {'style.display':none } }) }}</small>
        </td>
        <td>{{ form_errors(form.targetTempSensURL) }}</td>
        <td class="popup"><img class="slice_input_suggestion" alt="{{ 'msg.interact'|trans }}"
                               src="{{ asset('/assets/images/front/confirmation_.png') }}"/>
            <span class="popuptext">{{ form_help(form.targetTempSensURL) }}</span>
        </td>

    </tr>
    <tr>
        <td>{{ form_label(form.tempThreshold, 'Threshold Value'|trans) }}</td>
        <td>{{ form_widget(
                form.tempThreshold,
                (slice.tempThreshold is null ? {'attr': {'value':'40'} } : {})
            ) }}</td>
        <td>
            <small>{{ form_help(form.tempThreshold) }}</small>
        </td>
        <td>{{ form_errors(form.tempThreshold) }}</td>
        <td class="popup"><img class="slice_input_suggestion" alt="{{ 'msg.interact'|trans }}"
                               src="{{ asset('/assets/images/front/confirmation_.png') }}"/>
            <span class="popuptext">{{ form_help(form.tempThreshold) }}</span>
        </td>

    </tr>

    <tr>
        <td>{{ form_label(form.emergencySliceName, 'Trigger action'|trans) }}</td>
        <td>{{ form_widget(
                form.emergencySliceName,
                (slice.emergencySliceName is null ? {'attr': {'value':'select'} } : {})
            ) }}</td>
        <td>
            <small>{{ form_help(form.emergencySliceName) }}</small>
        </td>
        <td>{{ form_errors(form.emergencySliceName) }}</td>
        <td class="popup"><img class="slice_input_suggestion" alt="{{ 'msg.interact'|trans }}"
                               src="{{ asset('/assets/images/front/confirmation_.png') }}"/>
            <span class="popuptext">{{ form_help(form.emergencySliceName) }}</span>
        </td>
    </tr>
    <tr class="videoslice">
            <td>{{ form_label(form.cameraIP, 'Camera IP'|trans) }}</td>
            <td>{{ form_widget(
                    form.cameraIP,
                    (slice.cameraIP is null ? {'attr': {'value':'10.0.0.20'} } : {})
                )}}</td>
            <td>
                <small>{{ form_help(form.cameraIP) }}</small>
            </td>
            <td>{{ form_errors(form.cameraIP) }}</td>
            <td class="popup"><img class="slice_input_suggestion" alt="{{ 'msg.interact'|trans }}"
                                   src="{{ asset('/assets/images/front/confirmation_.png') }}"/>
                <span class="popuptext">{{ form_help(form.cameraIP) }}</span>
            </td>
    </tr>

    <tr class="videoslice">
        <td>{{ form_label(form.cameraPort, 'camera Port') }}</td>
        <td>{{ form_widget(
                form.cameraPort,
                (slice.cameraPort is null ? {'attr': {'value':'554'} } : {})
            ) }}</td>
        <td>
            <small>{{ form_help(form.cameraPort) }}</small>
        </td>
        <td>{{ form_errors(form.cameraPort) }}</td>
        <td class="popup"><img class="slice_input_suggestion" alt="{{ 'msg.interact'|trans }}"
                               src="{{ asset('/assets/images/front/confirmation_.png') }}"/>
            <span class="popuptext">{{ form_help(form.cameraPort) }}</span>
        </td>

    </tr>
    <tr class="videoslice">
        <td>{{ form_label(form.cameraUser, 'User') }}</td>
        <td>{{ form_widget(
                form.cameraUser,
                (slice.cameraUser is null ? {'attr': {'value':'demo'} } : {})
            ) }}</td>
        <td>
            <small>{{ form_help(form.cameraUser) }}</small>
        </td>
        <td>{{ form_errors(form.cameraUser) }}</td>
        <td class="popup"><img class="slice_input_suggestion" alt="{{ 'msg.interact'|trans }}"
                               src="{{ asset('/assets/images/front/confirmation_.png') }}"/>
            <span class="popuptext">{{ form_help(form.cameraUser) }}</span>
        </td>

    </tr>
    <tr class="videoslice">
        <td>{{ form_label(form.cameraPassword, 'Password') }}</td>
        <td>{{ form_widget(
                form.cameraPassword,
                (slice.cameraPassword is null ? {'attr': {'value':'5GDEMbru'} } : {})
            ) }}</td>
        <td>
            <small>{{ form_help(form.cameraPassword) }}</small>
        </td>
        <td>{{ form_errors(form.cameraPassword) }}</td>
        <td class="popup"><img class="slice_input_suggestion" alt="{{ 'msg.interact'|trans }}"
                               src="{{ asset('/assets/images/front/confirmation_.png') }}"/>
            <span class="popuptext">{{ form_help(form.cameraPassword) }}</span>
        </td>

    </tr>
    <tr class="videoslice">
        <td>{{ form_label(form.minimumBandwidth, 'Minimum Bandwidth') }}</td>
        <td>{{ form_widget(
                form.minimumBandwidth,
                (slice.minimumBandwidth is null ? {'attr': {'value':'1000000'} } : {})
            ) }}</td>
        <td>
            <small>{{ form_help(form.minimumBandwidth) }}</small>
        </td>
        <td>{{ form_errors(form.minimumBandwidth) }}</td>
        <td class="popup"><img class="slice_input_suggestion" alt="{{ 'msg.interact'|trans }}"
                               src="{{ asset('/assets/images/front/confirmation_.png') }}"/>
            <span class="popuptext">{{ form_help(form.minimumBandwidth) }}</span>
        </td>

    </tr>
    <tr class="videoslice">
        <td>{{ form_label(form.maxBandwidth, 'Maximum Bandwidth') }}</td>
        <td>{{ form_widget(
                form.maxBandwidth,
                (slice.maxBandwidth is null ? {'attr': {'value':'5000000'} } : {})
            ) }}</td>
        <td>
            <small>{{ form_help(form.maxBandwidth) }}</small>
        </td>
        <td>{{ form_errors(form.maxBandwidth) }}</td>
        <td class="popup"><img class="slice_input_suggestion" alt="{{ 'msg.interact'|trans }}"
                               src="{{ asset('/assets/images/front/confirmation_.png') }}"/>
            <span class="popuptext">{{ form_help(form.targetTempSensURL) }}</span>
        </td>
    </tr>
    <tr class="videoslice">
        <td>{{ form_label(form.slicemanager, 'Choose Slices') }}</td>
        <td>{{ form_widget(
                form.slicemanager,
                (slice.slicemanager is null ? {'attr': {'value':'client6'} } : {})
            ) }}</td>
        <td>
            <small>{{ form_help(form.slicemanager) }}</small>
        </td>
        <td>{{ form_errors(form.slicemanager) }}</td>
        <td class="popup"><img class="slice_input_suggestion" alt="{{ 'msg.interact'|trans }}"
                               src="{{ asset('/assets/images/front/confirmation_.png') }}"/>
            <span class="popuptext">{{ form_help(form.slicemanager) }}</span>
        </td>
    </tr>
</table>