{% extends "config/layoutConfig.html.twig" %}
 
{% block title %}

{% endblock %}

{% block head %}


{% endblock %}

{% block body %}



    <div id="submenu">
        <a abc="/" class="selected" href="/">Services</a>

        |

        <a abc="/en/front/discussion/serviceSubscription" class="selected"
           href="/en/front/discussion/serviceSubscription">Discussion</a>

        |

        <a abc="/en/front/customer" href="/en/front/customer">Customer Support</a>


    </div>
    <br/>
    <br/>
    <br/>
    <br/>


    <div class="leftColumn">

        <div class="blocLeft">
            <img class="legend" alt="{{ 'msg.interact'|trans }}" src="{{ asset('/assets/images/front/virtual.png') }}"/>
            <a href="http://udg.cityreport.org" class="title indent"><strong> {{ 'IoT Virtual Network'|trans }}</strong></a>

        </div>
        <script language="javascript">
            $(document).ready(function () {
                $('#div_humidity').hide();

                //------ ajax function called based on check box selected -------
                function ajaxCall($argument) {
                    //  alert($argument);
                    $.ajax({
                        url: "/iotconfig/ajax",
                        type: 'POST',
                        data: {template_id: $argument},
                        dataType: 'json',
                        async: true,
                        success: function (data, status) {
                            //  $("#form").hide();
                            //  alert("sadfsdd"+ data.username);
                            //   $("#form").show();
                            // $(#form).hidde();
                            //data.username;
                            // $("#pop_securitygroup option:selected").remove();
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            //  alert("fail");
                            return false;
                            // console.log('request failed');
                        }
                    });
                }

                //------- end ---------------------

                $("input[name='ingredients[]']").change(function () {
                    if ($('#temp').is(":checked")) {
                        //var returnVal = confirm("Are you sure?");
                        // alert($(this).attr("id"));
                        //$(this).prop("checked", returnVal);
                        // ajaxCall($(this).attr("id"));
                        $('#form').show();
                        $('#div_humidity').hide();

                        //alert("fff"+data);
                    }
                    else if ($('#humidity').is(":checked")) {
                        //$('#textbox1').val(this.checked);
                        $('#form').hide();
                        $('#div_humidity').show();

                    } else {
                        $('#div_humidity').show();
                    }

                });
                var input;
                $("tbody p").each(function () {
                    var inputId = $(this).attr("id");
                    document.getElementById(inputId).style.display = 'none';
                });
            })
        </script>
        <div class="blocLeft">
            {{ form_start(form, {attr: attr|default({})}) }}
            {{ form_errors(form) }}
            {{ include('iot_configuration/_form.html.twig') }}
            {{ form_rest(form) }}
            <br/>
            <input type="submit" value="{{ 'Updated'|trans }}"/>
            <a href="{{ path('slice_list') }}" class="btn btn-sm btn-default">
                <i class="fa fa-eye" aria-hidden="true"></i>
                <input type="button" value="{{ 'Cancel'|trans }}"/>
            </a>

            {{ form_end(form) }}
        </div>
    </div>

    <div class="blocRight">


        {# read and display just one flash message type #}
        {% for message in app.flashes('notice') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}
    </div>




{% endblock %}