{% extends "iot6SmartItBundle::layout.html.twig" %}
 
{% block title %}
	{{ parent() }} - {{ 'subMenu.smartIt.scheduler'|trans }}
{% endblock %}

{% block head %}
	{{ parent() }}
{% endblock %}

{% block body %}
	{{ parent() }}
	
	<br/>
	
	<a class="subtitle2" href="{{ path('iot6_SmartItBundle_Scheduler_Add') }}">[{{ 'msg.new_scheduler'|trans }}]</a>
	
	<br/><br/>
	
	{% for flashMessage in app.session.flashbag.get('ko') %}
	    <div class="messageKo">{{ flashMessage }}</div>
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('ok') %}
	    <div class="messageOk">{{ flashMessage }}</div>
	{% endfor %}
	
	<h1>{{ 'msg.actions_regular'|trans }}</h1>
	
	<br/>
	
	<div id='zebraTableDiv'>
		<table style="width: 100%;">
			<thead>
				<tr>
					<th colspan="3">&nbsp;</th>
					<th style="width:200px;">{{ 'msg.rule'|trans }}</th>
					<th style="width:200px;">{{ 'msg.target'|trans }}</th>
					<th style="width:200px;">{{ 'msg.comment'|trans }}</th>
					<th style="width:200px;">{{ 'msg.next_run'|trans }}</th>
				</tr>
			</thead>
			<tbody>
				{% for schedule in regularSchedules %}
					<tr>
					
						{% if schedule.isActive %}
							<td style="width: 30px; text-align: center;">
								<a href="{{ path('iot6_SmartItBundle_Scheduler_ActDesact', { 'id': schedule.id }) }}">
									<img alt="{{ 'msg.deactivate'|trans }}" src="{{ asset('assets/images/interface/icons/actif.png') }}" />
								</a>
							</td>
						{% else %}
							<td style="width: 30px; text-align: center;">
								<a href="{{ path('iot6_SmartItBundle_Scheduler_ActDesact', { 'id': schedule.id }) }}">
									<img alt="{{ 'msg.activate'|trans }}" src="{{ asset('assets/images/interface/icons/inactif.png') }}" />
								</a>
							</td>
						{% endif %}
					
						
						<td style="width: 30px; text-align: center;">
							<a href="{{ path('iot6_SmartItBundle_Scheduler_Edit', { 'id': schedule.id }) }}">
								<img src="{{ asset('assets/images/interface/icons/edit.png') }}" />
							</a>
						</td>
						<td style="width: 30px; text-align: center;">
							<a href="{{ path('iot6_SmartItBundle_Scheduler_Delete', { 'id': schedule.id }) }}">
								<img src="{{ asset('assets/images/interface/icons/delete.png') }}"
									onclick="return(confirm('{{ 'ask.schedule_delete'|trans }}'));" />
							</a>
						</td>
						<td>
							<a href="{{ path('iot6_SmartItBundle_Scheduler_Edit', { 'id': schedule.id }) }}">
								{{ schedule.rule.name }}
							</a>
						</td>
						{#
						<td>
							{% if schedule.target is not null %}
								{{ schedule.target.targetName }}
							{% else %}
								-
							{% endif %}
						</td>
						#}
						<td>
							<ul>
								{% if schedule.target is not null %}
									
									{% if schedule.target.family is not null %}
										<li>{{ schedule.target.family.internalName }}</li>
									{% endif %}
									{% if schedule.target.category is not null %}
										<li>{{ schedule.target.category.internalName }}</li>
									{% endif %}
									{% if schedule.target.device is not null %}
										<li>{{ schedule.target.device.assignedName }}</li>
									{% endif %}
									{% if schedule.target.roomType is not null %}
										<li>{{ schedule.target.roomType.name }}</li>
									{% endif %}
									{% if schedule.target.room is not null %}
										<li>{{ schedule.target.room.name }}</li>
									{% endif %}
									{% if schedule.target.floor is not null %}
										<li>{{ schedule.target.floor.name }}</li>
									{% endif %}
									{% if schedule.target.building is not null %}
										<li>{{ schedule.target.building.name }}</li>
									{% endif %}
									
								{% endif %}
							</ul>
						</td>
						<td>{{ schedule.comment}}</td>
						<td>{{ schedule.nextRunDate }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		
		<br/>
		
		{%
			render(controller("iot6PaginatorBundle:Paginator:paginator", {
				'_locale': app.request.locale,
				'nbItems': nbScheduleRegular,
				'nbItemPerPage': nbRegularProPage,
				'route': 'iot6_SmartItBundle_Scheduler',
				'nbPagesDisplayed': 15,
				'currentPage': pageRegular,
				'arg': 'regular'
				}
			)) 
		%}
		
		<br/><br/><br/>
		<h1>{{ 'msg.actions_punctual'|trans }}</h1>
		<br/>
		
		<table style="width: 100%;">
			<thead>
				<tr>
					<th colspan="3">&nbsp;</th>
					<th style="width:200px;">{{ 'msg.rule'|trans }}</th>
					<th style="width:200px;">{{ 'msg.target'|trans }}</th>
					<th style="width:200px;">{{ 'msg.comment'|trans }}</th>
					<th style="width:200px;">{{ 'msg.next_run'|trans }}</th>
				</tr>
			</thead>
			<tbody>
				{% for schedule in punctualSchedules%}
					<tr>
						
						{% if schedule.isActive %}
							<td style="width: 30px; text-align: center;">
								<a href="{{ path('iot6_SmartItBundle_Scheduler_ActDesact', { 'id': schedule.id }) }}">
									<img alt="{{ 'msg.deactivate'|trans }}" src="{{ asset('assets/images/interface/icons/actif.png') }}" />
								</a>
							</td>
						{% else %}
							<td style="width: 30px; text-align: center;">
								<a href="{{ path('iot6_SmartItBundle_Scheduler_ActDesact', { 'id': schedule.id }) }}">
									<img alt="{{ 'msg.activate'|trans }}" src="{{ asset('assets/images/interface/icons/inactif.png') }}" />
								</a>
							</td>
						{% endif %}
					
						<td style="width: 30px; text-align: center;">
							<a href="{{ path('iot6_SmartItBundle_Scheduler_Edit', { 'id': schedule.id }) }}">
								<img src="{{ asset('assets/images/interface/icons/edit.png') }}" />
							</a>
						</td>
						<td style="width: 30px; text-align: center;">
							<a href="{{ path('iot6_SmartItBundle_Scheduler_Delete', { 'id': schedule.id }) }}">
								<img src="{{ asset('assets/images/interface/icons/delete.png') }}"
									onclick="return(confirm('{{ 'ask.schedule_delete'|trans }}'));" />
							</a>
						</td>
						<td>
							<a href="{{ path('iot6_SmartItBundle_Scheduler_Edit', { 'id': schedule.id }) }}">
								{{ schedule.rule.name }}
							</a>
						</td>
						{#
						<td>
							{% if schedule.target.targetName is defined %}
								{{ schedule.target.targetName }}
							{% else %}
								-
							{% endif %}
						</td>
						#}
						<td>
							<ul>
								{% if schedule.target is not null %}
									
									{% if schedule.target.family is not null %}
										<li>{{ schedule.target.family.internalName }}</li>
									{% endif %}
									{% if schedule.target.category is not null %}
										<li>{{ schedule.target.category.internalName }}</li>
									{% endif %}
									{% if schedule.target.device is not null %}
										<li>{{ schedule.target.device.assignedName }}</li>
									{% endif %}
									{% if schedule.target.roomType is not null %}
										<li>{{ schedule.target.roomType.name }}</li>
									{% endif %}
									{% if schedule.target.room is not null %}
										<li>{{ schedule.target.room.name }}</li>
									{% endif %}
									{% if schedule.target.floor is not null %}
										<li>{{ schedule.target.floor.name }}</li>
									{% endif %}
									{% if schedule.target.building is not null %}
										<li>{{ schedule.target.building.name }}</li>
									{% endif %}
									
								{% endif %}
							</ul>
						</td>
						<td>{{ schedule.comment}}</td>
						<td>{{ schedule.nextRunDate }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		
		<br/>
		
		{%
			render(controller("iot6PaginatorBundle:Paginator:paginator", {
				'_locale': app.request.locale,
				'nbItems': nbSchedulePunctual,
				'nbItemPerPage': nbPunctualProPage,
				'route': 'iot6_SmartItBundle_Scheduler',
				'nbPagesDisplayed': 15,
				'currentPage': pagePunctual,
				'arg': 'punctual'
				}
			)) 
		%}
		
	</div>
	
{% endblock %}