{% extends "interact/layoutInteract.html.twig" %}
 
{% block title %}
	{{ parent() }} - {{ 'subMenu.interact.devicesProfile'|trans }}
{% endblock %}

{% block head %}
	{{ parent() }}
	
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

{% endblock %}

{% block body %}
	{{ parent() }}
	
	<h1>{{ 'subMenu.interact.devicesProfile'|trans }}</h1>
	

	<br/>
	<br/>
	<br/>
	<div id="zebraTableDiv">
		<table id="table" style="width:100%;">
			<tr>
				<th colspan="1"></th>
				<th>{{ 'Name' }}</th>
				<th>{{ 'Physical code' }}</th>
				<th>{{ 'Description' }}</th>
			</tr>

			{% for device in devices %}
				<tr>
					<td>
						<button type="button" value={{ device.id }} style="border:black;border-style:double;margin:10px">Add</button>
					</td>
					<td>{{ device.assignedName }}</td>
					<td>{{ device.physicalCode }}</td>
					<td>{{ device.description }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
	

	<script>
            $('button').on('click', function() {
                var url = Routing.generate('iot6_InteractBundle_setCityDevice', { 'deviceIdU': this.value });
				var that = this;
                $.ajax({
                    method: "POST",
                    url: url,
                    success: function(data) {
                            alert(data);
							
							
                        }
                })
            })

	</script>






	
{% endblock %}





