{% extends "interact/layoutInteract.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'subMenu.interact.iotNavigator'|trans }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}



    <br/><br/>

    <div id="zebraTableDiv">
        <table id="table" style="width:100%;">
            <tr>
                <th colspan="1"></th>
                <th>{{ 'conf.username'|trans }}</th>
                <th>{{ 'Privileges'|trans }}</th>
            </tr>

            {% for user in users %}
                <tr>
                    <td style="width:30px; text-align:center;">
                        <a href="{{ path('iot6_ConfigBundle_AccessSecurity_Users_Edit', { 'id': user.id }) }}">
                            <img src="{{ asset('assets/images/interface/icons/edit.png') }}" />
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('iot6_ConfigBundle_AccessSecurity_Users_Edit', { 'id': user.id }) }}">
                            {{ user.username }}
                        </a>
                    </td>
                    <td>
                        <select id="dev_priv" name="dev_priv">
                            <option id = {{ user.id }} selected="selected" value="-1">None</option>
                            <option id = {{ user.id }} value="11" {{ (user.accessProfile == 11) ? 'selected' : '' }}>See</option>
                            <option id = {{ user.id }} value="12" {{ (user.accessProfile == 12) ? 'selected' : '' }}>Inform</option>
                            <option id = {{ user.id }} value="13" {{ (user.accessProfile == 13) ? 'selected' : '' }}>Query</option>
                            <option id = {{ user.id }} value="14" {{ (user.accessProfile == 14) ? 'selected' : '' }}>Act on</option>
                            <option id = {{ user.id }} value="15" {{ (user.accessProfile == 15) ? 'selected' : '' }}>Configure</option>
                        </select>
                    </td>

                </tr>
            {% endfor %}
        </table>

        <br/>

        {#
        {%
            render(controller("iot6PaginatorBundle:Paginator:paginator", {
                '_locale': app.request.locale,
                'nbItems': nbRooms,
                'nbItemPerPage': nbProPage,
                'route': route,
                'nbPagesDisplayed': nbPageDisplayed,
                'currentPage': page,
                'arg': 'page'
                }
            ))
        %}
        #}

    </div>



        <button class="ajax">click me!</button>
        <div id="ajax-results">here comes the result</div>
        <script>
            $(document).on('click', 'button.ajax', function(){
                that = $(this);
                $.ajax({
                    url:'{{ (path('iot6_InteractBundle_setDeviceUserPrivileges')) }}',
                    type: "POST",
                    dataType: "json",
                    data: {
                        "some_var_name": "some_var_value"
                    },
                    async: true,
                    success: function (data)
                    {
                        console.log(data)
                        $('div#ajax-results').html(data.output);

                    }
                });
                return false;

            });
        </script>


{% endblock %}