{% extends "interact/layoutInteract.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'subMenu.interact.iotNavigator'|trans }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}



    <br/><br/>


    <h1>Privileges for {{ device.name }}</h1>
    <br/>
    <br/>


    <h1>Public privileges</h1>

        <select data-device= {{ device.id }}  id="dev_pub" name="dev_priv">
            <option  selected="selected" value="-1">None</option>
            <option  value="1" {{ (device.accessProfile == 1) ? 'selected' : '' }}>See</option>
            <option  value="2" {{ (device.accessProfile == 2) ? 'selected' : '' }}>Inform</option>
            <option  value="3" {{ (device.accessProfile == 3) ? 'selected' : '' }}>Query</option>
            <option  value="4" {{ (device.accessProfile == 4) ? 'selected' : '' }}>Act on</option>
            <option  value="5" {{ (device.accessProfile == 5) ? 'selected' : '' }}>Configure</option>
        </select>




    <br/>
    <br/>

    <div id="zebraTableDiv">
        <table id="table" style="width:100%;">
            <tr>
                <th>{{ 'conf.username'|trans }}</th>
                <th>{{ 'Privileges'|trans }}</th>
            </tr>

            {% for user in users %}
                <tr>
                    <td>
                        <a href="{{ path('iot6_ConfigBundle_AccessSecurity_Users_Edit', { 'id': user.id }) }}">
                            {{ user.username }}
                        </a>
                    </td>
                    <td>
                        <select data-device= {{ device.id }} data-user = {{ user.id }} id="dev_priv" name="dev_priv">
                            <option  selected="selected" value="-1">None</option>
                            <option data-user = {{ user.id }} value="11" {{ (user.accessProfile == 11) ? 'selected' : '' }}>See</option>
                            <option data-user = {{ user.id }} value="12" {{ (user.accessProfile == 12) ? 'selected' : '' }}>Inform</option>
                            <option data-user = {{ user.id }} value="13" {{ (user.accessProfile == 13) ? 'selected' : '' }}>Query</option>
                            <option data-user = {{ user.id }} value="14" {{ (user.accessProfile == 14) ? 'selected' : '' }}>Act on</option>
                            <option data-user = {{ user.id }} value="15" {{ (user.accessProfile == 15) ? 'selected' : '' }}>Configure</option>
                        </select>
                    </td>

                </tr>
            {% endfor %}
        </table>

        <br/>


    </div>
        <script>
            $('select#dev_priv').on('change', function() {
                var user = this.getAttribute('data-user');
                var device = this.getAttribute('data-device');
                var url = Routing.generate('iot6_InteractBundle_setDeviceUserPrivileges', { 'user': user, 'device': device, 'accessProfile':this.value });

                $.ajax({
                    method: "POST",
                    url: url,
                    success: function(data) {
                            alert(data);
                        }
                })
            })

            $('#dev_pub').on('change', function() {

                var device = this.getAttribute('data-device');
                var url = Routing.generate('iot6_InteractBundle_setDeviceAccessProfile', { 'device': device, 'accessProfile':this.value });

                $.ajax({
                    method: "POST",
                    url: url,
                    success: function(data) {
                        alert(data);
                    }
                })
            })

        </script>
{% endblock %}