{% extends "iot6ConfigBundle::layout.html.twig" %}
 
{% block title %}
	{{ parent() }} - {{ 'subMenu.config.devices'|trans }}
{% endblock %}

{% block head %}
	{{ parent() }}
{% endblock %}

{% block body %}
	{{ parent() }}
	
	<h1>{{ 'subMenu.config.devices'|trans }}</h1>
	
	<br/>
	
	{% include 'iot6ConfigBundle:Config:devicesMenus.html.twig' %}
	
	<br/><br/>
	
	<h1>{{ 'conf.menu.categories'|trans }}</h1>
	
	<br/>
	
	{% include 'iot6ConfigBundle:Config:msg.html.twig' %}
	
	<a class="subtitle2" href="{{ path('iot6_ConfigBundle_Devices_categories_Add') }}">[{{ 'conf.category_add'|trans }}]</a>
	
	<br/><br/>
	
	<div id="zebraTableDiv">
		<table style="width:100%">
			{% for category in categories %}
				<tr>
					<td style="width:30px; text-align:center;">
						<a href="{{ path('iot6_ConfigBundle_Devices_categories_Edit', { 'id': category.id }) }}">
							<img src="{{ asset('images/interface/icons/edit.png') }}" />
						</a>
					</td>
					<td style="width:30px; text-align:center;">
						<a href="{{ path('iot6_ConfigBundle_Devices_categories_Delete', { 'id': category.id }) }}">
							<img src="{{ asset('images/interface/icons/delete.png') }}"
								onclick="return(confirm('{{ 'conf.ask.delete_category'|trans }}'));" />
						</a>
					</td>
					<td>
						<a href="{{ path('iot6_ConfigBundle_Devices_categories_Edit', { 'id': category.id }) }}">
							{{ category.internalName }}
						</a>
					</td>
				</tr>
			{% endfor %}
		</table>
		
		<br/>
		
		{%
			render(controller("iot6PaginatorBundle:Paginator:paginator", {
				'_locale': app.request.locale,
				'nbItems': nbCategories,
				'nbItemPerPage': nbProPage,
				'route': route,
				'nbPagesDisplayed': nbPageDisplayed,
				'currentPage': page,
				'arg': 'page'
				}
			)) 
		%}
	    
	</div>
{% endblock %}