<a href="{{ path('iot6_ConfigBundle_Devices_waitingApproval') }}" class="subtitle2">[{{ 'conf.subMenu.waiting'|trans }}]</a>
<a href="{{ path('iot6_ConfigBundle_Devices_families') }}" class="subtitle2">[{{ 'conf.subMenu.families'|trans }}]</a>
<a href="{{ path('iot6_ConfigBundle_Devices_categories') }}" class="subtitle2">[{{ 'conf.subMenu.categories'|trans }}]</a>
<a href="{{ path('iot6_ConfigBundle_Devices_groups') }}" class="subtitle2">[{{ 'conf.subMenu.groups'|trans }}]</a>