<a href="{{ path('iot6_ConfigBundle_Locations_Buildings') }}" class="subtitle2">[{{ 'conf.subMenu.buildings'|trans }}]</a>
<a href="{{ path('iot6_ConfigBundle_Locations_Floors') }}" class="subtitle2">[{{ 'conf.subMenu.floors'|trans }}]</a>
<a href="{{ path('iot6_ConfigBundle_Locations_Rooms') }}" class="subtitle2">[{{ 'conf.subMenu.rooms'|trans }}]</a>
<a href="{{ path('iot6_ConfigBundle_Locations_RoomTypes') }}" class="subtitle2">[{{ 'conf.subMenu.roomTypes'|trans }}]</a>