{% extends "config/layoutConfig.html.twig" %}
 
{% block title %}
	{{ parent() }} - {{ 'subMenu.config.accessAndSecurity'|trans }} - {{ 'conf.user_add'|trans }}
{% endblock %}

{% block head %}
	{{ parent() }}
	
	<script>
		$( document ).ready(function() {
			
		    $("#ltr").click(function(){
		        $("#source > option:selected").each(function(){
		            $(this).remove().appendTo("#destination");
		        });
		    });

		    $("#rtl").click(function(){
		        $("#destination > option:selected").each(function(){
			        if($(this).val() != 1) {
		            	$(this).remove().appendTo("#source");
			        }
		        });
		    });

		    $('#send').click(function() {
		        $('#destination option').prop('selected', 'selected');
		    });
			    
		});
	</script>
	
{% endblock %}

{% block body %}
	{{ parent() }}
	
	<h1>{{ 'subMenu.config.accessAndSecurity'|trans }}</h1>
	
	<br/>
	
	{% include 'config/accessSecurityMenus.html.twig' %}
	
	<br/><br/>
	
	<h1>Add city admin</h1>
	
	<br/>
	
	{% include 'config/msg.html.twig' %}
	
	<form method="post" id="form" action="{{ path('iot6_ConfigBundle_AccessSecurity_UsersAdmin_Add' ) }}" }}>
		<table>
			<tr>
				<td>{{ 'conf.username'|trans }}</td>
				<td><input type="text" class="long" name="username" required="required" /></td>
			</tr>
			<tr>
				<td>{{ 'conf.email'|trans }}:</td>
				<td><input type="text" class="long" name="email" required="required"/></td>
			</tr>
			<tr>
				<td>City:</td>
				<td><input type="text" class="long" name="city" required="required"/></td>
			</tr>
		</table>
		
		<br/>
		
		
		
		<br/>
		
		<input type="submit" name="send" id="send" value="{{ 'conf.add'|trans }}" />&nbsp;<input type="button" value="{{ 'conf.cancel'|trans }}" onclick="window.location='{{ path('iot6_ConfigBundle_AccessSecurity_UsersAdmin') }}'" />
	</form>
	
{% endblock %}