{% extends "config/layoutConfig.html.twig" %}
 
{% block title %}
    add value
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    <div id="submenu">
        <a abc="/" class="selected" href="/">Services</a>

        |

        <a abc="/en/front/discussion/serviceSubscription" class="selected"
           href="/en/front/discussion/serviceSubscription">Discussion</a>

        |

        <a abc="/en/front/customer" href="/en/front/customer">Customer Support</a>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="leftColumn">
        <div class="blocLeft">
            <img class="legend" alt="{{ 'msg.interact'|trans }}" src="{{ asset('/assets/images/front/virtual.png') }}"/>
            <a href="http://udg.cityreport.org" class="title indent"><strong> {{ 'New IoT Ericsson based Slice'|trans }}</strong></a>
        </div>
        <div class="blocLeft">
            {{ form_start(form, {'attr': {'id': 'form'},'action': path('ericsson_slice_new') }) }}
            {{ form_errors(form) }}
            {{ include('ericcson_slice_manager/_form.html.twig') }}
            {{ form_rest(form) }}
            <br/>
            <input type="submit" title="add a new slice" value="{{ 'Add'|trans }}"/>

            <a href="{{ path('ericsson_slice_list') }}" class="btn btn-sm btn-default">
                <i class="fa fa-eye" aria-hidden="true"></i>
                <input type="button" title="back to list of slices" value="{{ 'Cancel'|trans }}"/>
            </a>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="blocRight">
        {# read and display just one flash message type #}
        {% for message in app.flashes('notice') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}
    </div>




{% endblock %}